REGISTRY=registry.gitlab.com/gitlab_username
COMPOSE_PROJECT_NAME=test
HOST=depoloyment_server

# Production PostgreSQL superuser password
# This variable REQUIRED, see https://hub.docker.com/_/postgres
POSTGRES_PASSWORD=
